[submodule "lib/bStream"]
	path = lib/bStream
	url = git@github.com:Astral-C/bStream.git
[submodule "lib/glm"]
	path = lib/glm
	url = git@github.com:g-truc/glm.git
[submodule "magic_enum"]
	path = magic_enum
	url = https://github.com/Neargye/magic_enum
